@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* custom css for theme */
#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #46045e;
}

#light #marketcap {
  background-color: #fff;
  color: black;
}

#dark #marketcap {
  background-color: #290138;
  color: #f3ebf6;
}

#light #portfolio {
  background-color: #fff;
  color: black;
}

#dark #portfolio {
  background-color: #290138;
  color: #f3ebf6;
}

#light #converter {
  background-color: #fff;
  color: #290138;
}

#dark #converter {
  background-color: #290138;
  color: #a976bc;
}

#light #chart {
  background-color: #fff;
}

#dark #chart {
  background-color: #290138;
}

#light #usddrop {
  background-color: #fff;
  color: black;
}

#dark #usddrop {
  background-color: #290138;
  color: #f3ebf6;
}

#light #searchbar {
  background-color: #fff;
  color: black;
}

#dark #searchbar {
  background-color: #290138;
  color: #f3ebf6;
}

#light .btn {
  color: black;
}

#dark .btn {
  color: white;
}
